@charset "UTF-8";
/* CSS Document */
.paragraph1 {
	padding: 2%;
}
.container {
 background-color:rgba(255,255,255,.3);
 width:900px;
 height:700px;
 margin: 0 auto;
}
.sposition {
 width:900px;
 height:325px;
margin-left: auto;
margin-right: auto;
}
.header {
 background-color:rgba(255,0,0,.3);
 width:900px;
 height:50px;
 font-size:24px;
 text-align:center;
}

#wrapper {
	width:960px;
	margin:0px auto;
	padding: 15px;
	background-color: mediumseagreen;
}

#header {
	background-color: lightsteelblue;
	padding: 25px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-style: normal;
	width: 910px;
}

a {
	font-size:14px;
}

#topnav {
	width:910px;
	float:left;
	background-color:dimgray;
	text-decoration: none;
	color: white;
	padding: 1px;
	
}

#topnav ul {
	margin:0;
	padding:0;
}

#topnav ul li {
	list-style-type: none;
	display: inline;
	text-align: right;
}

#topnav ul li a {
	display:block;
	padding:8px 18px;
	float:left;
	color:#00C;
	text-decoration:none;
	border-right:1px #fff solid;
}

#topnav a:hover {
	background-color: darkgrey;
	text-align: justify;
}

#content-wrapper {
	float:left;
	width:960px;
	background-color:#D2FFE9;
}

#leftnav {
	float:left;
	width:120px;
}

#content {
	float: center;
	width: 900px;
	margin-left: 30px;
	background-color: #fff;
	border-left: 1px #000 dotted;
	border-right: 1px #000 dotted;
	text-align: left;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	top: 900px;
	right: 800px;
}

#content-home {
	text-align: center;	
}


#right {
	float: left;
	width: 300px;
	height: 100px;
	margin-top: 0;
	margin-right: 4px;
	margin-bottom: 0;
	margin-left: 0;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	clear: left;
	top: 100px;
	right: 200px;
}

#footer {
	clear:both;
	background-color:#c1d1f1;
	padding:10px;
	text-align:center;
}
.ite{
	background-color: white;
	padding: 5px;
}
#input[type=text] {
	background-color: yellow;
}
.paris{
	background-color: white;
	padding: 15px;
	font-size: 18px;
	margin-top: 15%;
	font-style: oblique;
}
#box {
	padding: 0px;
}
.colpci1, .colpci2 {
	width: 100%;
}
.colpci3, .colpci4{
	width: 100%;
}